body {
    background-image: url(https://images.pexels.com/photos/386009/pexels-photo-386009.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
/* Style the header */
.header {
    margin-top: 80px;
    background-color: #333;
    opacity: 0.8;
    padding: 10px;
    text-align: left;
    color: white;
    width: 45%;
    text-aligh:center;
    left-margin: 30px;
}


.footer {
    padding: 10px;
    color: #f2f2f2;
    font-size:15px;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
}

/* Style the topnav links */
.topnav a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 32px;
    text-decoration: none;
    font-size: 18px;
    transition-duration: 0.4s;
    cursor: pointer;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the create button */
.create a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    border: 2px solid #e7e7e7
}

/* Change color on hover */
.create a:hover {
    background-color: #ddd;
    color: blue;
}

/* input box*/

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Style the cancel & submit button */
.nextstep a {
    background-color: #333;
    color: white;
    display: inline-block;;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 12px;
    margin: 2px 1px;
}
