.body {
    background-image: url("https://images.pexels.com/photos/2007401/pexels-photo-2007401.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
/* Style the header */
.jon1 {
    margin-top: 20px;
    text-align: left;
    font-family: Bahnschrift;
    font-size:35px;
    color: white;
    width: 45%;
    text-aligh:center;
    left-margin: 30px;
}

.footer {
    padding: 10px;
    color: #f2f2f2;
    font-size:15px;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
}

/* Style the topnav links */
.topnav a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 32px;
    font-family: Bahnschrift;
    text-decoration: none;
    font-size: 18px;
    transition-duration: 0.4s;
    cursor: pointer;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}


/* Style the create button */
.create a {
    float: right;
    display: block;
    color: #f2f2f2;
    font-family: Bahnschrift;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    border: 2px solid #e7e7e7
}

/* Change color on hover */
.create a:hover {
    background-color: #ddd;
    color: blue;
}

/* input box*/

.input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    font-family: Bahnschrift;
    box-sizing: border-box;
}


/* Style the cancel & submit button */
.nextstep a {
    background-color: #333;
    color: white;
    text-align: center;
    font-family: Bahnschrift;
    padding: 5px;
    text-decoration: none;
    border: 2px solid white;
    margin: 20px 1px;
}


.form {
    background-color: #f2f2f2;
    opacity: 0.8;
    font-family: Bahnschrift;
    padding: 10px;
}



.button {
    background-color: #333;
    color: #f2f2f2;
    padding: 14px 20px;
    margin: 8px 0;
    font-family: Bahnschrift;
    border: none;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    opacity: 0.8;
}


.jon {
    padding: 10px;
    color: black;
    font-size:40px;
    font-family: Bahnschrift;
    background-position: center;
    text-align: center;
}


.jon2 {
    padding: 10px;
    color: black;
    font-size:15px;
    font-family: Bahnschrift;
    background-position: center;
    text-align: center;
}


.header {
    margin-top: 20px;
    text-align: left;
    font-family: Bahnschrift;
    font-size:35px;
    color: white;
    width: 45%;
    text-aligh:center;
    left-margin: 30px;
}
